reference_id = 4d33727a-ac42-11ed-afa1-0242ac120002
collection_subscription_key = cf123ce1c20540ff958a8e725468324f
disbursement_subscription_key =
remittance_subscription_key =
momo_api_key =
access_token = eyJ0eXAiOiJKV1QiLCJhbGciOiJSMjU2In0.eyJjbGllbnRJZCI6IjRkMzM3MjdhLWFjNDItMTFlZC1hZmExLTAyNDJhYzEyMDAwMiIsImV4cGlyZXMiOiIyMDIzLTAyLTE0VDEwOjM3OjU0LjIzNiIsInNlc3Npb25JZCI6IjczOTAxZDZmLWFkNGMtNDNkMy04OGE0LTE0YzFjYWEwOGU1ZiJ9.fv0Ia6UqdQIUmP0VvSQBSq4D6mD43QaLBkHZXKLhadb9RxtGkFhMBBXuj-EVmscbcoNNMLav0iMAlDd-2BVk0bx-2YFZ9fTZeNb_WEa2kA9yx0Jsg5CXc4SPnKNJUGTH-8pTYe2oDpptszj1lmqB3lHavCJcWpGvHobHlQsfbb0c7gM4SkWuGqU0S3xH6NfunvIk64DCp3pGk1k6dsj5kMFRZ1bG7ZQXPUFNc_VMI6abUQ2cOd_2muUSzHl2KMQg5fh5Q4UgCxvv234Ef1MeIugilPUCK_TkhuKztABy2cMzMsv6qg4vCnURE51-4uT603BAnjo-SAXd4YRN8EpbSw